#waybar {
  font-family: "dejavu sans";
  font-size: 16px;
  background: alpha(#313131, 0);
}

#window {
  padding: 0 5px;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  color: rgba(217, 216, 216, 1);
}


#workspaces {
  background-color: #313131;
  margin-left: 2px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 3px #d65d0e;
  border-left: solid 3px #d65d0e;
  border-radius: 0px 0px 0px 6px;
}

#workspaces button {
  padding: 0 5px;
  border: 3px solid rgba(9, 85, 225, 0);
  color: grey;
  min-width: 33px;
}

#workspaces button.visible {
  border-radius: 0px;
  color:white
}

#workspaces button.urgent {
  background-color: #a96d1f;
  color: black;
}

#clock {
  background-color: #313131;
  padding: 0 5px;
  border-bottom: solid 3px #d65d0e;
  border-right: solid 3px #d65d0e;
  border-radius: 0px 0 6px 0px;
}

#clock {
  font-size: 18px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}
