#waybar {
  font-family: "dejavu sans";
  font-size: 16px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  color: rgba(217, 216, 216, 1);
  background: rgba(49, 49, 49, 0);
}

#workspaces {
  background-color: #4C566A;
  border-radius: 6px; 
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button {
  padding: 0 5px;
  border: 3px solid rgba(9, 85, 225, 0);
  color: white;
  min-width: 33px;
}

#workspaces button.visible {
  border-bottom: solid 3px #5E81AC;
}

#workspaces button.urgent {
  background-color: #a96d1f;
  color: black;
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color: #ee2e24;
}
#taskbar,
#battery,
#clock,
#tray,
#mode,
#temperature,
#memory,
#network,
#pulseaudio,
#custom-powermenu,
#custom-weather,
#backlight,
#custom-media {
  background-color: #4C566A;
  border-radius: 6px;
  margin: 0px 0px 0px 10px;
  padding: 0 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#custom-powermenu {
  padding-left: 20px;
  padding-right: 20px;
}

#clock {
  font-size: 18px;
}

#tray {
  margin-right: 5px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

